body
    { font-family:arial,helvetica,sans-serif; color:#000000; }
.headline
    { font-size:16pt; font-weight:bold;
      margin: 20px 0px 10px 0px; padding: 2px 10px 2px 10px; }

.summarysection
    { margin: 15px 10px; }
.summarysectionitem
    { padding: 5px 5px 10px 5px; vertical-align: top; }
.summaryheader
    { background-color:#000000; border-radius: 10px;
      font-size:14pt; font-weight:bold; color:#ffffff;
      padding: 2px 10px; margin-bottom: 5px; }
.summaryintro
    { font-size: 9pt; }
.summarysectionitem table
    { width: 100%; border-radius: 10px; border-collapse: collapse; }
.summarysectionitem td
    { text-align: center; vertical-align: top; padding: 4px 10px; }
.summarylabel
    { font-size: 10pt; font-style:oblique; }
.summaryvalue
    { font-size: 14pt; font-weight:bold; }

.mainsection
    { margin: 30px 10px 20px 10px; }
.mainsectionitem
    { padding: 10px 10px 2px 10px; }
.mainheader
    { background-color:#000000;
      font-size:14pt; font-weight:bold; color:#ffffff;
      padding: 2px 10px; }

.level1section
    { margin: 10px 20px 5px 10px; }
.level1sectionitem
    { padding: 2px 10px; }
.level1header
    { background-color:#000066;
      font-size:11pt; font-weight:bold; color:#ffffff;
      padding: 2px 10px; }

.level2section
    { margin: 5px 25px; }
.level2sectionitem
    { padding: 2px 10px; }
.level2header
    { background-color:#c0e6ff;
      font-size:9pt; font-weight:bold;
      padding: 2px 10px; margin: 10px 5px 2px 5px; }

.colheader
    { font-size:8pt; font-weight:bold; vertical-align: top; }

.label
    { font-size: 8pt; font-style: oblique; }
.data
    { font-size:8pt; }

.neutralbg
    { background-color: #a7cdff; }
.successbg
    { background-color: #b7ffa6; }
.warning
    { color: #ff6600; }
.warningbg
    { background-color: #ffcd80; }
.error
    { color: #ff0000; }
.errorbg
    { background-color: #ffc4c4; }

.altrow
    { background-color:#eeeeee }
